<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-
 BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5">
                <h1 class="mb-5">Patients</h1>

                <form action="{{ url_for('index') }}" method="POST">
                    <label for="patient" class="form-label">Patient's name</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Full name</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-
                        addon3" name="patient">
                    </div>
                    <label for="dateofbirth" class="form-label">Date of birth</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">DOB</span>
                        <input type="date" class="form-control" id="basic-url" aria-describedby="basic-
                        addon3" name="dateofbirth">
                    </div>
                    <label for="address" class="form-label">Address</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Address:</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-
                        addon3" name="address">
                    </div>
                    <label for="amount" class="form-label">Cervical check Number</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">Cervical check number: </span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-
                        addon3" name="amount">
                    </div>
                    <button class="btn btn-primary">Submit</button>
                
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 mb-5 text-center">

                <form action="{{ url_for('check') }}" class="mb-5">
                    <button class="btn btn-outline-info">Check</button>
                </form>

                {% for res in checking_results %}

                <div>
                    Block {{ res['block'] }} : {{ res['result'] }}
                </div>

                {% endfor %}


            </div>
        </div>
    </div>


</body>

</html>